<ion-modal-view>

    <ion-header-bar class="bar bar-header bar-royal">
      <h1 class="title">Change Password</h1>
      <button class="button button-clear " ng-click="closeModal()">Cancel</button>
      </ion-header-bar>

  <ion-content class="light-bg">

    <div>
      <form novalidate name="changePassForm">

        <div class="list list-inset">

          <!-- Current Password -->
          <label class="item item-input item-stacked-label" ng-class="{ 'has_error' : changePassForm.currentPassword.$invalid && !changePassForm.currentPassword.$pristine }">
            <input type="password" name="currentPassword" placeholder="Current Password" ng-model="Password.current" required>
              <p style="color:red" ng-show="changePassForm.currentPassword.$invalid && !changePassForm.currentPassword.$pristine">Current password is required*</p>
          </label>

          <!-- New Password -->
          <label class="item item-input item-stacked-label" ng-class="{ 'has_error' : changePassForm.newPassword.$invalid && !changePassForm.newPassword.$pristine }">
            <input type="password" name="newPassword" placeholder="New Password" ng-model="Password.new" ng-minlength="5" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
            <p style="color:red" ng-show="!changePassForm.newPassword.$pristine && changePassForm.newPassword.$invalid && !changePassForm.newPassword.$error.minlength && !changePassForm.newPassword.$error.pattern">New password is required*</p>
            <p style="color:red" ng-show="changePassForm.newPassword.$error.minlength">Your password is too short*</p>
            <p style="color:red" ng-show="changePassForm.newPassword.$error.pattern && !changePassForm.newPassword.$error.minlength">1 lower, upper, numeric character*</p>
          </label>

          <!-- Confirm Password -->
          <label class="item item-input item-stacked-label" ng-class="{ 'has_error' : (changePassForm.confirm_password.$invalid && !changePassForm.confirm_password.$pristine) || match_password }">
            <input type="password" name="confirmPassword" placeholder="Confirm New Password" ng-model-options="{ debounce: 500 }" ng-model="Password.confirmPassword" confirm-password="Password.new" required>
            <p style="color:red" ng-show="changePassForm.confirmPassword.$invalid && !changePassForm.confirmPassword.$pristine && !changePassForm.confirmPassword.$error.confirmPassword">You must confirm your password*</p>
            <p style="color:red" ng-show="changePassForm.confirmPassword.$error.confirmPassword">Your password does not match*</p>
          </label>


        </div>

        <div class="padding">
          <button type="submit" class="button button-block button-royal" ng-disabled="changePassForm.$invalid" ng-click="changePassword(Account,changePassForm)">Change Password</button>
        </div>

      </form>
    </div>

    </ion-content>

</ion-modal-view>
