<ion-view view-title="Contact Us">
  <ion-nav-title class="dark">Contact Us</ion-nav-title>

  <div ng-if="!noInternet">
    <ion-content class="light-bg">
      <div class="padding">
        <h3 class="royal">Map</h3>

        <div id="map" data-tap-disabled="true" ng-if="!noInternet" ng-init="init()"></div>

        <h3 class="royal">Get in touch</h3>
        <div class="list card">
          <a ng-href="tel:{{contact.phone}}" class="item item-icon-left"> <i class="icon ion-ios-telephone"></i> Call us </a>
          <a ng-href="mailto:{{contact.email}}" class="item item-icon-left"> <i class="icon ion-email"></i> Send us and Email</a>
        </div>

        <h3 class="royal">Get social with us</h3>
        <div class="list card">
          <a class="item item-icon-left" ng-click="openLink(contact.facebook)"> <i class="icon ion-social-facebook"></i> Visit us on Facebook </a>
          <a class="item item-icon-left" ng-click="openLink(contact.instagram)"> <i class="icon ion-social-instagram-outline"></i> Follow us on Instagram </a>
          <a class="item item-icon-left" ng-click="openLink(contact.twitter)"> <i class="icon ion-social-twitter"></i> Follow us on Twitter </a>
        </div>

      </div>
    </ion-content>
  </div>

  <div ng-if="noInternet">
      <div ng-include="'templates/noWifi.html'"></div>
  </div>
</ion-view>
