<ion-view view-title="Feedback">
  <ion-nav-title class="dark">Feedback</ion-nav-title>
  <ion-content class="light-bg">
    <div class="padding">

      <form name="feedback" novalidate>
        <b class="feedbackText">Your feedback is valuable to us. We would appreciate to get your honest feeedback.</b>
        <br>
        <div class="feedbackRating">
          <div class="row">
            <div class="col line"></div>
            <div class="col-20 lineText">Food</div>
            <div class="col line"></div>
          </div>
          <br>
          <div class="ratingField">
            <star-rating-comp on-rating-change="onRatingChange($event,'foodVarietyOrSelection')" label-text="'Variety/Selection'" label-position="'top'" star-type="'svg'" size="'medium'" space="'around'" speed="'slow'"></star-rating-comp>
            <br>
            <star-rating-comp on-rating-change="onRatingChange($event,'foodPrice')" label-text="'Price'" label-position="'top'" star-type="'svg'" size="'medium'" space="'around'" speed="'slow'"></star-rating-comp>
            <br>
            <star-rating-comp on-rating-change="onRatingChange($event,'foodQuality')" label-text="'Quality'" label-position="'top'" star-type="'svg'" size="'medium'" space="'around'" speed="'slow'"></star-rating-comp>
            <br>
          </div>
        </div>

        <div class="feedbackRating">
          <div class="row">
            <div class="col line"></div>
            <div class="col-33 lineText">Beverage</div>
            <div class="col line"></div>
          </div>
          <br>
          <div class="ratingField">
            <star-rating-comp on-rating-change="onRatingChange($event,'beverageVarietyOrSelection')" label-text="'Variety/Selection'" label-position="'top'" star-type="'svg'" size="'medium'" space="'around'" speed="'slow'"></star-rating-comp>
            <br>
            <star-rating-comp on-rating-change="onRatingChange($event,'beveragePrice')" label-text="'Price'" label-position="'top'" star-type="'svg'" size="'medium'" space="'around'" speed="'slow'"></star-rating-comp>
            <br>
            <star-rating-comp on-rating-change="onRatingChange($event,'beverageQuality')" label-text="'Quality'" label-position="'top'" star-type="'svg'" size="'medium'" space="'around'" speed="'slow'"></star-rating-comp>
            <br>
          </div>
        </div>

        <div class="feedbackRating">
          <div class="row">
            <div class="col line"></div>
            <div class="col-33 lineText">Service</div>
            <div class="col line"></div>
          </div>
          <br>
          <div class="ratingField">
            <star-rating-comp on-rating-change="onRatingChange($event,'serviceCleanliness')" label-text="'Cleanliness'" label-position="'top'" star-type="'svg'" size="'mediummedium'" space="'around'" speed="'slow'"></star-rating-comp>
            <br>
            <star-rating-comp on-rating-change="onRatingChange($event,'servicePoliteness')" label-text="'Politeness'" label-position="'top'" star-type="'svg'" size="'medium'" space="'around'" speed="'slow'"></star-rating-comp>
            <br>
            <star-rating-comp on-rating-change="onRatingChange($event,'serviceSpeed')" label-text="'Speed'" label-position="'top'" star-type="'svg'" size="'medium'" space="'around'" speed="'slow'"></star-rating-comp>
            <br>
          </div>
        </div>

        <div class="additional">
          <div class="row">
            <div class="col line"></div>
            <div class="col-40 lineText">Additional</div>
            <div class="col line"></div>
          </div>
          <br>
          <div class="padding">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name (Optional)</span>
                  <input type="text" name="name" ng-model="fb.name" pattern="[a-z A-Z]+">
                  <span style="color:red" ng-show="feedback.name.$invalid && !feedback.name.$pristine" >Enter a correct name*</span>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email (Optional)</span>
                  <input type="email" name="email" ng-model="fb.email" >
                  <span style="color:red" ng-show="!feedback.email.$pristine && feedback.email.$invalid" >Enter a valid email*</span>
            </label>
            <label class="item item-input item-stacked-label">
                  <span class="input-label">Comments (Optional)</span>
                    <textarea ng-model="fb.comment"></textarea>
              </label>
          </div>
        </div>

        <button class="button button-block button-royal cusBtn" ng-click="sendFeedback(feedback)">SUBMIT</button>

      </form>
    </div>
  </ion-content>
</ion-view>