<ion-view view-title="Forgot Password">
  <ion-nav-title class="dark">Forgot Password</ion-nav-title>
  <ion-content class="light-bg">
    <div class="padding">
      <form novalidate name="passwordRecoveryForm" class="forgotPassword-page">

        <div class="fpTop">
          <span class="fpFont0">Recover your password</span>
          <p>We will send a link to your email address.</p>
        </div>

        <div class="fpBottom">
          <span class="fpFont1" style="">Email</span>
          <input class="fpFont2" type="email" name="email" placeholder="Enter your email here" ng-model="request.email" required>
          <span style="color:red" ng-show="!passwordRecoveryForm.email.$pristine && passwordRecoveryForm.email.$invalid" >Enter a valid email*</span>
        </div>

      <button class="button button-block button-royal fpFont3" ng-disabled="passwordRecoveryForm.$invalid" ng-click="requestLink(request,passwordRecoveryForm)" >Request link</button>

      </form>

    </div>
  </ion-content>
</ion-view>
