<ion-modal-view class="fsView">

  <ion-header-bar class="bar bar-header bar-royal">
    <p class="title" style="font-size:1.1em;font-weight:400;">Sort By </p>
    <p class="button button-clear " ng-click="closeSortModal()" style="font-size:1.1em;font-weight:700;">Apply</p>
  </ion-header-bar>

  <ion-content class="light-bg">

    <ion-list>

      <ion-radio  ng-model="sortBy.value" ng-value="'itemSubCategory'">Subcategory</ion-radio>
      <ion-radio  ng-model="sortBy.value" ng-value="'-orders'">Most Ordered</ion-radio>
      <ion-radio  ng-model="sortBy.value" ng-value="'itemPrice'">Lowest price to Highest price</ion-radio>
      <ion-radio  ng-model="sortBy.value" ng-value="'-itemPrice'">Highest price to Lowest price</ion-radio>

    </ion-list>
  </ion-content>

</ion-modal-view>
