<ion-tabs class='tabs-icon-top tabs-background-light tabs-color-dark'>
  <ion-tab title="Foods" icon-off="ion-fork" icon-on="ion-fork" href="#/app/food">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Beverages" icon-off="ion-coffee" icon-on="ion-coffee" icon="ion-coffee" href="#/app/beverage">
    <ion-nav-view name="tab-beverage"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Special/New" icon-off="ion-knife" icon-on="ion-knife" href="#/app/special">
    <ion-nav-view name="tab-special"></ion-nav-view>
  </ion-tab>
</ion-tabs>