<ion-view view-title="Top 10">
  <ion-nav-title class="dark">Top 10</ion-nav-title>

  <div ng-if="!noInternet">
    <ion-content class="light-bg">
      <ion-list>
        <ion-item class="item-thumbnail-left card item-text-wrap" ng-repeat="item in items track by (itemID + $index)" ui-sref="top10.foodItem({id: item.itemID, itemName: item.itemName})">
          <img ng-src="http://acerobot.sit.nyp.edu.sg/LCafe_Menu_Images/{{ item.itemImg }}" alt="" />
          <div class="tTop">
            <span class="royal tFont0">{{item.number}}</span>
            <span class="tFont1"> {{ item.itemName }}</span>
          </div>
          <div class="tBottom">
            <span class="price royal tFont2">${{ item.itemPrice | number : 2}}</span>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>

  <div ng-if="noInternet">
    <div ng-include="'templates/noWifi.html'"></div>
  </div>

</ion-view>
